body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(.5);
    letter-spacing: 4px;
}

.btn {
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 25px;
    border: 4px solid;
    cursor: pointer;
    transition: 1s background-color;
}

.btn:hover {
    background-color: white;
    color: black;
}

.split {
    width: 50%;
    height: 100%;
    top: 0;    
}

.split.left {
    position: absolute;
    left: 0;
    background-color: pink;
}

.split.right {
    position: absolute;
    right: 0;
    background-color: lightblue;
}
